# Папки
__pycache__/
build/
dist/
.vscode/

# Сборочные файлы
*.spec

# Медиа
*.mp3
*.png

# Временные файлы
*.log
.env

# Конкретные файлы, которые ХОТИМ ИГНОРИРОВАТЬ
checkbox_roi.jpg
ocr_debug_output.jpg
ocr_debug_output.json
template_history.json
user_settings.json
user_templates.json
tasks.json


